$tablet-min: 768px;
$tablet-max: 1024px;
$desktop-min: $tablet-max + 1px;
$max-width: 1440px;
$sidebar-max: 410px;
$sidebar-max-breakpoint: 1370px;

@mixin phone() {
  @media (max-width: $tablet-min) {
    @content;
  }
}

@mixin tablet() {
  @media (max-width: $tablet-max) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $desktop-min) {
    @content;
  }
}

@mixin above-max-width() {
  @media (min-width: $max-width) {
    @content;
  }
}

@mixin above-max-width() {
  @media (min-width: $max-width) {
    @content;
  }
}

@mixin above-max-sidebar-breakpoint() {
  @media (min-width: $sidebar-max-breakpoint) {
    @content;
  }
}
