@import "./_constants.scss";
@import "./breakpoints.scss";

.datepicker {
  z-index: 20;
  display: flex;
  background: $grey-2;
  max-width: 305px;
  margin: 2em 0;
  border-radius: 20px;
  font-size: 12px;
  @include desktop {
    font-size: 16px;
  }
  &__label {
    color: white;
    padding: 0.5em 1.5em;
  }
}

.react-datepicker-wrapper {
  .react-datepicker__input-container {
    height: 100% !important;
    input {
      font-size: 12px;
      width: 150px !important;
      height: 100% !important;
      text-align: center !important;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      @include desktop {
        font-size: 16px;
      }
    }
  }
}

.react-datepicker-popper {
  z-index: 20 !important;
}
