@import "./breakpoints.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.25s;
}

a:hover {
  opacity: 0.5;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  user-select: none;
  font-size: 54px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  line-height: 1;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 0;
  @include phone {
    font-size: 32px;
  }
  .inline {
    display: inline-block;
  }
  .rotatedText {
    font-size: 0.5em;
    transform: rotate(45deg);
    margin-left: 5px;
  }
}
