@import "../styles/breakpoints.scss";

.mapContainer {
  height: 100vh;
  width: 75%;
  border: 0 !important;
  position: relative;
  display: inline-block;

  .mapboxgl-control-container {
    position: absolute !important;
    bottom: 0 !important;
  }
}
