@import "../styles/_constants";
@import "../styles/fonts.scss";

.sidebar {
  padding: 20px;
  background-color: $grey-1;
  width: 30%;
  max-width: 410px;
  overflow-y: scroll;

  &__noGigs {
    color: white;
  }
}

.sidebar__gigList {
}

.sidebar__gigList__gig {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.5s ease;

  &__title {
    z-index: 11;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    &__text {
      @include gig-title();
      font-size: 24px;
      margin: 0;
    }
  }

  &__desc {
    padding: 10px;
    color: white;

    &__text {
      font-size: 12px;
      margin: 0;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}
