@import "../styles/_constants";
@import "../styles/breakpoints.scss";
@import "../styles/fonts.scss";

.sidebar {
  width: 100vw;
  padding: 20px;
  background-color: $grey-1;
  position: fixed;
  z-index: 10;

  @include desktop {
    width: $sidebar-desktop;
    position: relative;
    left: auto;
    overflow-y: scroll;
  }

  &__noGigs {
    color: white;
  }
}

.sidebar__topContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include desktop {
    display: block;
    justify-content: revert;
  }
}

.sidebar__gigList {
  display: flex;
  overflow-x: scroll;
  @include desktop {
    display: block;
    overflow-x: revert;
  }
}

.sidebar__gigList__gig {
  min-width: 220px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 2em;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.5s ease;

  &:last-child {
    margin-right: 0;
  }

  @include desktop {
    margin-right: 0;
  }

  &__title {
    z-index: 11;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    &__text {
      @include gig-title();
      margin: 0;
      font-size: 18px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      @include desktop {
        font-size: 24px;
      }
    }
  }

  &__desc {
    padding: 10px;
    color: white;

    &__text {
      font-size: 12px;
      margin: 0;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}
